html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /*resetarea defaultului */

/* De aici incepe CSS-ul propriu */

.container{
    width: 90%;
    margin: 0 auto;
}

.registerContainer{
  width: 86%;
  float: left;
  padding: 132px;
  padding-top: 140.5px;
  padding-bottom: 84.5px;
}

label {
  margin-left: 35%;
  margin-right: 35%;
  color: #002812;
  font-size: 28px;
  font-weight: 600;
}

#registerErrorLabel {
    font-size: 20px;
    margin-right: 50px;
    color: red;
}

#registerSuccesLabel {
    font-size: 20px;
    margin-right: 50px;
    color: green;
}

#birthdayID{
  margin-right: 50px;
}

/* Full-width inputs */

/*am pus input[type=text] si respectiv input[type=password] pt ca selecteaza strict doar text si password fields*/
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  /*margin: 4px 575px 4px;*/
  margin-left: 35%;
  margin-right: 35%;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right:auto;
}

select {
    margin-right:35%;
    margin-left:35%;
    border-width: 1mm;
    border-color: grey;
}

#male{
    color: rgb(0, 68, 255);
    font-weight: 600px;
}

#female{
    color: red;
}

/* Set a style for all buttons */
button {
  background-color: #002812;
  color: white;
  padding: 14px 20px;
  /*margin: 8px 575px;*/
  margin-top: 3%;
  margin-left:35%;
  margin-right:35%;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Top-bar */

.topbar{
    display: inline-block;
    width: 100%;
    height: 30px;
    float: left;
    background-color: rgba(130,201,30); /*light-green*/
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

/* Header-ul */
.header{
    display: inline-block;
    width: 100%;
    float: left;
    padding: 28px 0;
    border-bottom: 1px solid #00000010;
    background-color: #002812; /*dark green*/
}

.header .logo{
    float: left;
    width: 20%;
}

.header .headerright{
    float: right;
}

.header .headerright ul li{
    display: inline-block;
    padding: 10px 0;
}

.header .headerright ul li a{
    text-decoration: none;
    margin-left: 15px;
    color: rgba(130,201,30);
	font-size: 20px;
}

.header .headerright ul li .signBtn{
    padding: 20px 20px;
    border-radius: 100px;
    background-color: rgba(130,201,30);
    color: #002812;
    font-weight: 600;
}
/* Footer */

.footer{
    width: 100%;
    display: inline-block;
    float: left;
    padding: 25px 0;
    background-color: #002812;
}

.footer .col-3{
    width: 24%;
    float: left;
}

.footer p{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(130,201,30);
    line-height: 18px;
}

.footer p strong{
    font-weight: 700;
}

.copyright{
    display: inline-block;
    width: 100%;
    text-align: center;
    float: left;
    background-color: rgba(130,201,30);
    padding: 10px 0;
    color: #002812;
}